@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

li,
a,
button {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: white;
}

.logo {
  cursor: pointer;
  color: #d6000d;
  font-size: 40px;
  font-weight: bold;
  margin-right: auto;
}

.logo span {
  color: black;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav_links li a:hover {
  color: #d6000d;
}

button {
  padding: 9px 25px;
  width: 150px;
  background-color: #d6000d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #d6000d;
  background-color: white;
}

/* main content */

.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
}

.main img {
  width: 480px;
  height: 480px;
}

.main p {
  font-weight: bold;
  font-size: 16px;
}

.main h3 {
  font-size: 45px;
  color: #d6000d;
  padding-bottom: 30px;
}

.main button {
  width: 230px;
}

/*aside*/

.aside li i {
  color: white;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  background-color: #d6000d;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
/* footer */

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d6000d;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col h1 {
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d6000d;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col p:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col p {
  font-size: 16px;
  color: white;
  font-weight: 300;
  display: block;
}

.footer-col .social_links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  background-color: #d6000d;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-col .social_links a:hover {
  color: #d6000d;
  background-color: white;
}

/*responsivo*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
